<style>
    table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<table style="width:95%;" class="center">
    <tr>
        <td style="text-align:center; color:black; width:19%"><a href="account-overview">Bank Accounts</a></td>
        <td style="text-align:center; color:black; width:19%">ask a bot</td>
        <td style="text-align:center; color:black; width:19%">schedule an appointment</td>
        <td style="text-align:center; color:black; width:19%">my info</td>
        <td style="text-align:center;">
            <a href="logout">logout</a>
        </td>
    </tr>
</table>