<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Persimmon Banking{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static "script.js" %}"></script>
    <link rel="stylesheet" href="{% static "keyboard.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>

<div class="topbar">
    <ul>
        {% if persimmon_user %}
            <li><a href="{% url 'user' persimmon_user.id %}">My Account</a></li>
            <li><a href="">Mobile ATM</a></li>
            <li><a href="">Transfer Money</a></li>
            <li>Ask a Bot</li>
            <li><a href="{% url 'appointment' %}">Schedule an Appointment</a></li>
            {% if persimmon_user.employee_level >= 1 %}
                <li><a href="{% url 'employee' %}">Employee Portal</a></li>
            {% endif %}
            {% if persimmon_user.employee_level >= 3 %}
                <li><a href="{% url 'admin:index' %}">Admin Portal</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="">Login</a></li>
            <li><a href="{% url 'create-account' %}">Create Account</a></li>
        {% endif %}
    </ul>
</div>

{% block body %}{% endblock %}

</body>
</html>