pydantic
Django==3.1.5
pylint
pylint-django
django-extensions==3.1.1
bootstrap4
chatterbot
chatterbot_corpus
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
django-bootstrap4
django-bootstrap-datepicker-plus
twilio
django-sms
pillow
num2words
dj-database-url
