<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tier 1 User Page</title>
</head>
<body>
    <h1> Tier 1 User Page</h1>

    <h2> Non critical transactions</h2>
    <form action="/website/tier1/viewpage" method = "post">
        {% csrf_token %}
        <input type="submit" value="View">
    </form>

    <form action="/website/tier1/createpage" method = "post">
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>

    <form action="/website/tier1/authorizepage" method = "post">
        {% csrf_token %}
        <input type="submit" value="Authorize">
    </form>

</body>
</html>