{% extends 'main.html' %}
{% block title %}Account {{ account.account_number }}{% endblock %}
{% block body %}
    <h2>Statement for account {{ account.account_number }}</h2>
    <table>
    <tr>
        <th>Date/Time</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>
    {% for entry in statement %}
    <tr>
        <td>{{ entry.date }}</td>
        {% if entry.balance is not None and entry.check_recipient is not None and entry.transaction < 0 %}
            <td><a href="{% url 'check' entry.id %}">{{ entry.description }}</a></td>
        {% else %}
        <td>{{ entry.description }}</td>
        {% endif %}
        <td>${{ entry.transaction }}</td>
        {% if entry.balance is None %}
            {% if entry.can_approve %}
                <td><em><a href="{% url 'approve-transaction-page' entry.id %}?back={{ request.path }}">
                    Approve or Decline
                </a></em></td>
            {% else %}
                <td><em>Pending approval</em></td>
            {% endif %}
        {% else %}
            <td>${{ entry.balance }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>

    <p><a href="{% url 'get-blockchain' account.id %}">View Blockchain Ledger</a></p>
{% endblock %}