{% extends 'main.html' %}
{% block title %}User Lookup{% endblock %}
{% block body %}
    <h2>User Lookup</h2>
    <form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit"></p>
    </form>

    {% if query is not None %}
        <hr>
        {% if query %}
            <table>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            {% for entry in query %}
                <tr>
                    <td><a href="{% url 'user' entry.id %}">{{ entry.name }}</a></td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.phone }}</td>
                    <td>{{ entry.address }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <strong>No results found</strong>
        {% endif %}
    {% endif %}
{% endblock %}